h2 {
font-family: 'noto', sans-serif;
font-weight: 700;
font-size: 25px;
letter-spacing: 15px;
text-transform: uppercase;
}

p {
  text-align: center;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    text-align: center;
    background-color:transparent !important;
}

  .col-sm-8 {
        margin-left: 215px;
  }

  .shape {
    width: 400px;
    height: 400px;
    position: relative;
    right: -380px;
    bottom: -53px;
    // z-index: -1;
    background-color: taupe;
    animation: square-to-circle 4s .5s infinite cubic-bezier(1,.015,.295,1.225) alternate;
  }

  .image {
    width: 200px;
    height: 100px;
    position: relative;
    right: -418px;
    bottom: 250px;
    z-index: 1;
    text-align: center;
  }
