<div class="jumbotron">

  <!-- <div id="animation"> -->
  <div class="shape"></div>
  <div class="image"><img src="images/logo_type.png" alt="logo"></div>
  <!-- </div> -->
  <h2>What colour is sound?</h2>
  <p><a class="btnRegister" <a ui-sref="register" role="button">Register</a> <a class="btnLogin" <a ui-sref="login" role="button">login</a></p>

</div>

<!--info here  -->
<div class="container">
<div class="row">
  <div class="col-sm-6 col-md-4">
      <div class="caption">
        <h3>A fun kind of ill</h3>
        <p class="copy">We're not being flippant when we say this medical condition's quite the trip.
          Ever heard colour or smelt sound? This is exactly how a person with synaesthesia experiences the world.
          Not surprisingly, sufferers (ha!) of the condition haveß gone on to become some of the world's most
          renowned creatives such as Nabokov, writer of Lolita. With our app, you may now see and hear the world as they once did.</p>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
      <div class="caption">
        <h3>About the App</h3>
        <p class="copy">Nam felis mauris, semper at blandit vel, scelerisque nec lorem. Duis rhoncus tellus vel orci laoreet, in pharetra felis convallis. Donec sed tellus eget purus varius dignissim nec bibendum nibh. Pellentesque mattis molestie ex, viverra efficitur mauris tincidunt sit amet.</p>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
      <div class="caption">
        <h3>More Information</h3>
        <p class="copy">Nam felis mauris, semper at blandit vel, scelerisque nec lorem. Duis rhoncus tellus vel orci laoreet, in pharetra felis convallis. Donec sed tellus eget purus varius dignissim nec bibendum nibh. Pellentesque mattis molestie ex, viverra efficitur mauris tincidunt sit amet.</p>
    </div>
  </div>
</div>
</div>
