<div class="jumbotron">
  <div class="container">
  <!-- <div id="animation"> -->
  <div class="shape"></div>
  <div class="image"><img src="images/logo_type.png" alt="logo"></div>
  <!-- </div> -->
  <h2>What colour is sound?</h2>
  <p><a class="btn btn-primary btn-lg" <a ui-sref="register" role="button">Register</a> <a class="btn btn-primary btn-lg" <a ui-sref="login" role="button">login</a></p>
</div>
</div>

<!--info here  -->
<div class="container">


<div class="row">
  <div class="col-sm-6 col-md-4">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>COPY HERE</p>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>COPY HERE</p>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>COPY HERE</p>
    </div>
  </div>
</div>
</div>
