<div class="container">
  <h1>Login</h1>
  <h4 ng-if="login.message">{{ login.message }}</h4>
  <form ng-submit="login.login()">
    <div class="row">
           <div class="col-sm-8">

               <h4 class="page-header">Bottom Labels</h4>
               <form role="form">
                   <div class="form-group float-label-control label-bottom">
                       <label for="">Username</label>
                       <input type="email" class="form-control" placeholder="Username">
                   </div>
               </form>

           </div>

       </div>
    <input type="submit" value="Login">
  </form>
</div>
