<div class="container">
  <h1>Register</h1>
  <form ng-submit="register.register()">
    

    <div class="twelve columns">
      <label for="EmailInput">Your email</label>
      <input class="u-full-width" id="EmailInput" type="email" name="email" ng-model="register.user.email" placeholder="Email">
    </div>

    <div class="twelve columns">
      <label for="PasswordInputRegister">Password</label>
      <input class="u-full-width" id="PasswordInputRegister" type="password" name="email" ng-model="register.user.password" placeholder="Password">
    </div>

    <div class="twelve columns">
      <div class="u-full-width">
        <label for="PasswordConfirmation">Password Confirmation</label>
        <input id="PasswordConfirmation" class="u-full-width" type="password" name="password" ng-model="register.user.password_confirmation" placeholder="Password confirmation">
      </div>
    </div>
    <input type="submit" value="Register">
  </form>
</div>
