<h2>{{ soundsShow.sound.name }}</h2>
<h5>{{ soundsShow.sound.genre }}</h5>

<button ng-click="soundsShow.playSound()">Play Sound</button>

<form ng-submit="soundsShow.addColour()">
  <input colorpicker colorpicker-close-on-select type="text" ng-model="soundsShow.colour.name">
  <input type="submit" value="Save Color">
</form>

 <button type="button" class="btn btn-circle btn-flat ripple-effect btn-primary">Default button</button>

<button ui-sref="soundsResults({ id: soundsShow.sound.id })">Show Results</button>
