<!DOCTYPE html>
<html ng-app="Synesthesia">
<head>
  <meta charset="utf-8">
  <title>Synesthesia</title>
  <base href="/">
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">
  <header>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header"></div>
      </div>
      <div id="burger-container">
        <div id="burger" ui-sref="/" ng-click="collapsed=">
            <span></span>
            <span></span>
            <span></span>
            <span></span>

          </div>
<ul class="burger-menu" ng-hide="collapsed">
  <li ng-click="main.hideMenu()"><a ui-sref="/">Home</a></li>
  <li ng-hide="main.user"><a ui-sref="login">Sign in</a></li>
  <li ng-hide="main.user"><a ui-sref="register">Register</a></li>
  <li ng-hide="main.user"><a ui-sref="soundsIndex">View</a></li>
  <li ng-show="main.logout()"><a>Sign out</a></li>
</ul>
        </div>
    </nav>


    <div class="container">
      <h2>Bootstrap 3 Navbar Example</h2>
      <ul>
        <li>Use <code>.navbar-static-top</code> to eliminate the border radius</li>
        <li>Use <code>.navbar-right</code> to right-align link and dropdown</li>
        <li>Use <code>.pull-right</code> in the right-aligned <code>.dropdown-menu</code> so that the menu isn't cutoff</li>
      </ul>
    </div>

    <main class="container" ui-view></main>
  </body>
  </html>


  <main ui-view></main>

  <!-- <input ng-show="main.user" type="filepicker" data-fp-apikey="Au0FfUuSTvihNwvzZV0Q3z"
  onchange="alert(event.fpfile.url)"> -->

  <footer class="footer">
    <p class="footer-text">FOOTER<br>
      Made with &hearts; at GA
    </p>
  </footer>
</body>
</html>
