<!DOCTYPE html>
<html ng-app="Synesthesia">
<head>
  <meta charset="utf-8">
  <title>Synesthesia</title>
  <base href="/">
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">
  <header>
    <nav>
      <div class="menu-collapsed">
        <div class="bar"></div>
        <ul>
          <li class="menu-link" ng-if="!main.user">
            <a ui-sref="register">Register</a>
          </li>
          <li class="menu-link" ng-if="!main.user">
            <a ui-sref="login">Sign in</a>
          </li>
          <li class="menu-link" ng-if="main.user">
            <a ui-sref="main.logout()">Sign out</a>
          </li>
        </ul>
      </div>
      <p><a class="logo" href="/">Synesthesia</a></p>
    </nav>
  </header>
  <main class="container" ui-view></main>
</body>
</html>
