//This is the home/landing page

.jumbotron {
  background-image: url("http://cdn1.alphr.com/sites/alphr/files/styles/16x9_540/public/2015/06/rainbow.jpg?itok=nSnONP_3");
}

.display-3 {
  text-align: center;
}

.btn-lg, .btn-group-lg > .btn {
  margin-left: 238px;
}

.lead {
  text-align: center;
}

p {
  text-align: center;
}

.col-sm-8 {
      margin-left: 215px;
}
