.menu-link1 {
  float: left;
  margin-right: 37px;
}

.navbar-default {
    background-color:transparent !important;
    border-color: transparent !important;
}


ul li{
margin-top: 10px;
margin-left: 100px;
float: left;
display: inline-block;
}

a {
    color: #000000;
    text-decoration: none;
}
