
// .btn {
//   font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif;
//   font-size: 14px;
//   font-weight: 400;
//   line-height: 1.1;
//   text-transform: uppercase;
//   letter-spacing: inherit;
//   color: rgba(255, 255, 255, 0.87);
// }


body{
  text-transform: uppercase;
}
#name {
  letter-spacing: 40px
}

//
// .circle {
//     width: 120px;
//     height: 120px;
//     background: #7fee1d;
//     -moz-border-radius: 20px;
//     -webkit-border-radius: 20px;
//     border-radius: 60px;
// }
//
// .triangle{
//     width: 0;
//     height: 0;
//     border-bottom: 140px solid #fcf921;
//     border-left: 70px solid transparent;
//     border-right: 70px solid transparent;
// }
//
// .square {
//     width: 120px;
//     height: 120px;
//     background: #f447ff;
// }

* {
	box-sizing: border-box;
}
$size: 50px;
html, body {
	height: 100%;
}

body {
	min-height: 100%;
	background: black;
	overflow: hidden;
}


.rings-wrap {
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	transform-style: preserve-3d;
	perspective: 500px;
}
@mixin crazyBorders($color, $size){
	border-right: $size solid $color;
	border-left: $size solid $color;
	border-top: $size solid lighten($color, 15%);
	border-bottom: $size solid lighten($color, 15%);
}
.ring {
	border-radius: 50%;
	animation: rotate 2s infinite alternate;
	background: black;
	transform-origin: 50% 50%;
	position: absolute;
	top: $size;
  opacity: 0;
  transform-style: preserve-3d;
}
@for $i from 1 through 10 {
	.ring:nth-child(#{$i}){
		$num: 1 + ($i * 100px);
		$color: hsl(360 - ($i * 36), 50%, 50%);
		@include crazyBorders($color, $size);
		height: $num;
		width: $num;
		animation-delay: -.4s * $i;
		transform: scale($i * .1) translateZ($i * -100px);
	}
}
@keyframes rotate {
	to {
		transform: rotate(540deg) translate3d(100%, 100%, -1000px);
		opacity: 1;
	}
body{
  background-color: #eee;
}
}

#burger-container{
  position: relative;
  margin: 200px auto;
  width: 100px;
}

#burger{
  cursor: pointer;
  display: block;
}

#burger span{
  background: #eee;
  display: block;;
  width: 50px;
  height: 7px;
  margin-bottom: 5px;
  position: relative;
  top:0;
  transition: all ease-in-out .35s;
}

#burger-container.open span:nth-child(2),
#burger-container.open span:nth-child(3){
  width: 0;
  opacity: 0;
}

#burger-container.open span:nth-child(1)
{
  transform: rotate(45deg);
  position: absolute;
  top:19px;
}
#burger-container.open span:nth-child(4)
{
  transform: rotate(-45deg);
  position: absolute;
  top:19px;
}

.colourBox{
  width: 70px;
  height: 70px;
  margin: 4px;
  border-radius: 2px;
  list-style: none;
  float: right;
  display: inline;
}

.box {
  width: 100px;
  height: 100px;
}
